@charset "UTF-8";

body {
  background-color: #fedcbd;
}

.header {
	text-align: center;
}
.Report {
	text-align: center;
}
.tweet {
	text-align: center;
}
.error {
	color: red;
	text-align: center;
}